.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px;
}

.input-chat {
  border-bottom: 1px black solid;
  padding: 100px 20px 20px;
  margin: 0px 0 80px;
}

.input-chat .input-title {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  border-left: #d33d3d 5px solid;
}

.input-chat .input-title input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  padding: 0 20px;
  border: none;
}

.input-chat .input-title input:focus {
  box-shadow: 0 0 1px 0 #d33d3d;
  outline: 0;
}

.input-chat .input-content {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  border-left: #d33d3d 5px solid;
}

.input-chat .input-content textarea {
  width: 100%;
  height: 60px;
  line-height: 1.6rem;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  resize: none;
}

.input-chat .input-content textarea:focus {
  box-shadow: 0 0 1px 0 #d33d3d;
  outline: 0;
}

.input-chat .input-person {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  border-left: #d33d3d 5px solid;
}

.input-chat .input-person input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  padding: 0 20px;
  border: none;
}

.input-chat .input-person input:focus {
  box-shadow: 0 0 1px 0 #d33d3d;
  outline: 0;
}

.input-chat .mypage-input {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url(../image/20201105_075338519_iOS.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.input-chat .submit-btn {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: right;
}

.input-chat .submit-btn button {
  width: 100px;
  height: 40px;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  color: #d33d3d;
  border: double 7px #d33d3d;
  border-radius: 10px;
  transition: all .3s;
}

.input-chat .submit-btn button:hover {
  background-color: #d33d3d;
  color: white;
  border: double 7px white;
}

@media screen and (max-width: 560px) {
  .input-chat {
    border-bottom: 1px black solid;
    padding: 100px 0px 20px;
    margin: 0px 0 80px;
  }
  .input-chat .input-title {
    width: 85%;
    margin: 20px 0;
  }
  .input-chat .input-title input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
  }
  .input-chat .input-content {
    width: 85%;
    margin: 20px 0;
  }
  .input-chat .input-content textarea {
    width: 100%;
    height: 60px;
    padding: 3px 10px;
  }
  .input-chat .input-person {
    width: 85%;
    margin: 20px 0;
  }
  .input-chat .input-person input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .input-chat .submit-btn {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  .input-chat .submit-btn button {
    width: 100px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    color: #d33d3d;
    border: double 7px #d33d3d;
    border-radius: 10px;
    transition: all .3s;
  }
  .input-chat .submit-btn button:hover {
    background-color: #d33d3d;
    color: white;
    border: double 7px white;
  }
}

#todo_list {
  padding: 20px;
  margin: 0;
}

#todo_list .chat {
  width: 80%;
  margin: 50px auto;
  position: relative;
}

#todo_list .chat .title {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
}

#todo_list .chat .content {
  line-height: 1.6rem;
  font-size: 16px;
}

#todo_list .chat .person {
  margin: 30px 0;
  position: relative;
  padding-left: 60px;
}

#todo_list .chat .person::before {
  content: "from";
  position: absolute;
  left: 0px;
}

#todo_list .chat .done {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 40px;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  color: #d33d3d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#todo_list .chat .done:focus {
  outline: 0;
}
