.screenshot-image {
    width: 150px;
    height: 90px;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 5px;
    left: 10px;
    background: white;
}

.display-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: auto;
    position: relative;
}

.video {
    height:100vh;
    width:auto 100%;
    background: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

a.btn--orange{
    position: absolute;
    left:20px;
    top:5px;
    color: #fff;
    background-color: #eb6100;
}

.video-options {
    position: absolute;
    left: 20px;
    top:50px;
}

.controls {
    position: absolute;
    right: center;
    top: center;
    display: flex;
}

.controls > button{
    opacity:0;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}
.controls > button svg {
    height: 100px;
    width: 80px;
}

.controls > button:hover svg {
    color: white !important;
}

@media (min-width: 300px) and (max-width: 400px) {
    .controls {
        flex-direction: column;
    }

    .controls button {
        margin: 5px 0 !important;
    }
}

.controls > button:active svg{
    opacity:1;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.controls button:nth-child(1) {
    width: 400px;
    height: 400px;
    border: 2px solid #D2002E;
}

.controls button:nth-child(1) svg {
    height: 200px;
    width: 180px;
    color: #D2002E;
}

.controls button:nth-child(2) {
    width: 400px;
    height: 400px;
    border: 2px solid #008496;
}

.controls button:nth-child(2) svg {
    height: 200px;
    width: 180px;
    color: #008496;
}

.controls button:nth-child(3) {
    opacity:1;
    position: absolute;
    top:-10px; 
    right:600px; 
    border: 2px solid #00B541;
}

.controls button:nth-child(3) svg {
    opacity:1;
    color: #00B541;
}

.controls > button:active {
    opacity:1;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.controls > button:hover svg {
    color: white;
}
.controls >button:hover{
    opacity:1;
}