/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  color: black;
  text-decoration: none;
}
img {
  width: 100%;
}


/* 付加 */

html,body {
  font-family:  "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ ゴシック" , "MS Gothic" , sans-serif;
}

.wrap {
  overflow: hidden !important;
  background-image: url(../image/20201105_075338519_iOS.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pc-none {
  display: none !important;
}

@media (max-width: 960px) {
  .sp-none {
    display: none !important;
  }
  .pc-none {
    display: block !important;
  }
}

.stop {
  overflow: hidden !important;
}


.show {
  opacity: 1 !important;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0) !important;
  pointer-events: stroke !important;
}

.body {
  position: relative;
}


.logo {
  width: 120px;
  height: 80px;
  background-color: aqua;
  text-align: center;
  line-height: 80px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

// .setting {
//   color: gray;
//   padding-top: 10px;
//   position: fixed;
//   top: 25px;
//   right: 20px;
//   cursor: pointer;
// }

// .mypage {
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background-image: url(../image/20201105_075338519_iOS.JPG);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   position: fixed;
//   top: 25px;
//   right: 80px;
//   cursor: pointer;
// }

.menu {
  width: 70px;
  height: 70px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 101;
  span {
    position: absolute;
    height: 2px;
    width: 50px;
    border-radius: 3px;
    background: black;
    display: block;
    left: 50%;
    top: 40%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: .3s ease;
    &::before {
      position: absolute;
      height: 2px;
      width: 40px;
      border-radius: 3px;
      background:black;
      display: block;
      content: '';
      bottom: -10px;
      transition: .3s ease;
    }
  }
  &:hover span {
    opacity: 0.8;
  }
  &:hover span::before {
    width: 50px;
    opacity: 0.8;
  }
}
.menu-close {
  span {
    top: 48%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    &::before {
      width: 50px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      bottom: 10%;
    }
    &:hover span {
      opacity: 0.8;
    }
    &:hover span::before {
      opacity: 0.8;
    }
  }
}

.header {
  width: 60%;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all .7s ease-in-out;
  .header-nav {
    position: relative;
    padding-top: 100px;
    li {
      width: 70%;
      max-width: 300px;
      margin: 15px 0;
      box-sizing: border-box;
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 40px;
        font-size: 16px;
        position: relative;
        &::after {
          position: absolute;
          bottom: -4px;
          left: 30px;
          content: '';
          width: 80%;
          height: 2px;
          background:  rgb(211, 61, 61);
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform .3s;
        }
        &:hover::after{
          transform: scale(1, 1);
        }
      }
    }
  }
  .setting-nav {
    color: gray;
    padding-top: 10px;
    position: fixed;
    bottom: 35px;
    right: 20px;
    cursor: pointer;
  }
  .mypage-nav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../image/20201105_075338519_iOS.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 25px;
    right: 80px;
    cursor: pointer;
  }
}

.copy {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(32, 32, 32, 0.726);
  color: white;
  font-size: 11px;
}

@media screen and (max-width: 560px) {
  .logo {
    width: 80px;
    height: 60px;
    line-height: 60px;
  }
  .menu {
    top: 10px;
    right: 10px;
  }
  .header {
    width: 70%;
    .header-nav {
      position: relative;
      padding-top: 120px;
      li {
        width: 100%;
        margin: 15px 0;
        a {
          font-size: 14px;
        }
      }
    }
  }
}