@charset "UTF-8";
body {
    background-color: rgb(199, 199, 199);
    width: 100%;
    overflow-x: hidden;
}
/*=== header ================================================*/
#timer-title {
    position: absolute;
    top: 30px;
    left: 170px;
    font-size: 40px;
}

.logo {
    position: absolute;
}

.sp-none {
    position: absolute;
}


/*=== timer ================================================*/
.timer-wrap {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

#timer {
    text-align: center;
    width: 65%;
    margin-left: 10px;
}

#timer-body {
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    line-height: 120px;
    font-size: 50px;
}

/*=== UserNameBox ================================================*/
.UserName-wrap {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 25px;
    width: 30%;
}

#UserName-box {
    margin-top: 10px;
    width: 95%;
    font-size: 20px;
}

#timer-btn-wrap {
    margin-top: 10px;
}

.timer-btn {
    font-size: 20px;
    width: 120px;
}


/*=== video ================================================*/
.video_timer-log_DB-log_wrap {
    margin-top: 40px;
    margin-left: 10px;
    display: flex;
    width: 100%;
    font-size: 20px;
}

#video-wrap {
    width: 35%;
}

.title_ {
    padding-bottom: 10px;
    padding-left: 10px;
    border-width: 2px;
    border-style : none none solid none;
    border-color : #ffffff;
}

#video-radio {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

#video-goal {
    margin-left: 30px;
}

#video-options {
    margin-bottom: 10px;
    width: 200px;
}

#video-btn {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

#video {
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    height: 300px;/*===あとで変更===========================*/
    background-color: blue;/*===あとで変更===========================*/
}


/*=== timer-log ================================================*/
.timer-log_DB-log_wrap {
    display: flex;
    width: 60%;
}

#timer-log-wrap {
    width: 36%;
    margin-left: 30px;
}

#timer-log {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.SplitTime {
    margin-top: 10px;
}


/*=== DB-log ================================================*/
#DB-log-wrap {
    width: 63%;
    margin-left: 30px;
}

.DB-log-one {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


/*=== レスポンシブ化 =======================================================================*/
@media screen and (max-width: 960px) {
    /*=== header ================================================*/
    .menu {
        position: absolute;
    }

    /*=== timer ================================================*/
    .timer-wrap {
        display: flex;
        flex-direction: column;
    }

    #timer {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    

    /*=== UserNameBox ================================================*/
    .UserName-wrap {
        width: 50%;
        margin-bottom: 30px;
        margin-left: 2%;
    }


    /*=== video ================================================*/
    .video_timer-log_DB-log_wrap {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
    }

    #video-wrap {
        width: 100%;
    }

    
    /*=== timer-log ================================================*/
    .timer-log_DB-log_wrap {
        display: flex;
        width: 100%;
        margin-top: 30px;
    }

    #timer-log-wrap {
        margin-left: 0px;
    }

}


/*=== レスポンシブ化 =======================================================================*/
@media screen and (max-width: 560px) {
    /*=== header ================================================*/
    #timer-title {
        top: 30px;
        left: 100px;
        font-size: 25px;
    }
    
    /*=== timer ================================================*/
    #timer-body {
        line-height: 100px;
        font-size: 35px;
    }

    /*=== timer-log ================================================*/
    .timer-log_DB-log_wrap {
        display: flex;
        flex-direction: column;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #timer-log-wrap {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    
    /*=== DB-log ================================================*/
    #DB-log-wrap {
        width: 100%;
        margin-left: 0px;
    }
}