@charset "UTF-8";
body {
    background-color: grey;
    width: 100%;
    overflow-x: hidden;
}

#timer-title {
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    cursor: pointer;
    background-color: white;
    color: #d33d3d;
    border: double 7px #d33d3d;
    border-radius: 10px;
}

.timer-wrap {
    display: flex;
    margin-top: 100px;
    margin-left: 10px;
}

#timer {
    text-align: center;
    width: 60%;
}

#timer-body {
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    line-height: 120px;
    font-size: 50px;
}

.UserName-wrap {
    margin-top: 90px;
    font-size: 20px;
    margin-left: 25px;
}

#UserName-box {
    margin-top: 10px;
    width: 50%;
    font-size: 20px;
    width: 300px;
}

#timer-btn-wrap{
    margin-top: 10px;
}

@media screen and (max-width: 560px) {
    #timer {
        margin-top: 80px;
    }
}