.container {
  width: 80%;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.manage-box {
  width: 100%;
  position: relative;
}

.manage-box img {
  width: 80%;
  max-width: 450px;
  display: block;
  margin: 20% auto 0;
}

.manage-box .mana-balloon {
  width: 90%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.534);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 50px;
  padding: 30px 10px;
}

.manage-box .mana-balloon .mana-text {
  color: white;
  font-size: 18px;
  line-height: 1.6rem;
}

.manage-box .mana-balloon:before {
  border-style: solid;
  border-width: 0 10px 30px 70px;
  border-color: transparent transparent rgba(0, 0, 0, 0.534) transparent;
  content: "";
  position: absolute;
  top: -30px;
  left: 10%;
  margin-left: -9px;
  display: block;
  width: 0px;
  height: 0px;
  z-index: 0;
}

.nav-box {
  width: 40%;
  position: relative;
}

.nav-box .main-btns {
  width: 100%;
  height: 440px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.nav-box .main-btns div {
  width: 70%;
  height: 80px;
  text-align: center;
  font-size: 18px;
  line-height: 80px;
  margin: 50px auto;
  cursor: pointer;
  background-color: white;
  color: #d33d3d;
  border: double 7px #d33d3d;
  border-radius: 10px;
  transition: all .3s;
}

.nav-box .main-btns div:hover {
  background-color: #d33d3d;
  color: white;
  border: double 7px white;
}

@media screen and (max-width: 960px) {
  .container {
    width: 90%;
    height: 100vh;
    display: block;
    margin: 0 auto;
  }
  .manage-box {
    width: 100%;
    position: relative;
  }
  .manage-box img {
    width: 80%;
    max-width: 500px;
    display: block;
    margin: 0% auto 0;
    padding-top: 10%;
  }
  .manage-box .mana-balloon {
    width: 90%;
    height: 150px;
    bottom: 300px;
    padding: 30px 10px;
  }
  .manage-box .mana-balloon .mana-text {
    color: white;
    font-size: 18px;
    line-height: 1.6rem;
  }
  .manage-box .mana-balloon:before {
    border-style: solid;
    border-width: 0 10px 30px 70px;
    border-color: transparent transparent rgba(0, 0, 0, 0.534) transparent;
    content: "";
    position: absolute;
    top: -30px;
    left: 10%;
    margin-left: -9px;
    display: block;
    width: 0px;
    height: 0px;
    z-index: 0;
  }
  .nav-box {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 100px;
  }
  .nav-box .main-btns {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 30px auto;
  }
  .nav-box .main-btns div {
    width: 70%;
    height: 80px;
    font-size: 18px;
    line-height: 80px;
    margin: 0 auto;
    cursor: pointer;
  }
}

@media screen and (max-width: 560px) {
  .container {
    width: 90%;
    height: 100vh;
    display: block;
    margin: 0 auto;
  }
  .manage-box {
    width: 100%;
    position: relative;
  }
  .manage-box img {
    width: 80%;
    max-width: 500px;
    display: block;
    margin: 0% auto 0;
    padding-top: 30%;
  }
  .manage-box .mana-balloon {
    width: 90%;
    height: 100px;
    bottom: 50px;
    padding: 20px 10px;
  }
  .manage-box .mana-balloon .mana-text {
    font-size: 13px;
    line-height: 1.6rem;
  }
  .manage-box .mana-balloon:before {
    border-width: 0 6px 15px 50px;
    top: -15px;
    left: 10%;
  }
  .nav-box {
    width: 100%;
  }
  .nav-box .main-btns {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  .nav-box .main-btns div {
    width: 70%;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    margin: 60px auto;
    cursor: pointer;
  }
}
