<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><!--システム名-->aaa_goal</title>
        <script src="/send_url.js"></script>
    </head>

    <body>
        <header>
            <a href="/"><!--システム名-->aaa</a>
            <% console.log("システム名決まってないよーーーーーーーーー") %>
        </header>

        <div id="table">
            <div id="table-title">
                <div>目標</div>
                <a href="">修正する</a>
                <% console.log("アカウント情報を修正するとこ決まってない") %>
            </div>

            <div id="table-wrapper">
                <div class="table-head">
                    <span>種目</span>
                    <span>ベストタイム</span>
                    <span>目標</span>
                </div>

                <ul class="table-body">
                    <% items = [{event : "100m", BestTime : "10.74", goal : "10.56"}, 
                                {event : "200m", BestTime : "21.86", goal : "21.35"}] %>
                    <% console.log("goal_list.ejs データベース決まってない") %>
                    <% items.forEach((item) => { %>
                        <li>
                            <span><%= item.event %></span>
                            <span><%= item.BestTime %></span>
                            <span><%= item.goal %></span>
                        </li>
                    <% }) %>
                </ul>
            </div>

        </div>

    </body>
</html>