<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <h1><a href="/timer">timer</a></h1>
    <h1><a href="/camera">camera</a></h1>
    <h1><a href="/fireTest">fireTest</a></h1>
  </body>
</html>