<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><!--システム名-->aaa_OnlineTimer</title>
        <script src="/send_url.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="javascripts/timer.js" defer></script>
    </head>

    <body>
        <header>
            <a href="/"><!--システム名-->aaa</a>
            <% console.log("システム名決まってないよーーーーーーーーー") %>
        </header>

        <div id="timer">
            <div id="timer-title">
                <div>オンラインタイマー</div>
            </div>

            <div id="timer-body">
                <span class="hours">0</span>
                <span>:</span>
                <span class="minutes">00</span>
                <span>:</span>
                <span class="seconds">00</span>
                <span>.</span>
                <span class="milliseconds">00</span>
            </div>

            <form action="/timer" method="post">
                <input id="startTime_rec" name="startTime" type="text" value="<%= start %>">
                <input type="submit" value="スタート" class="timer-btn" id="timer-start">
            </form>
            <button class="timer-btn" id="timer-stop"><input value="ストップ"></button>
            <button class="timer-btn" id="timer-split"><input value="スプリット"></button>
            <button class="timer-btn" id="timer-restart"><input value="リスタート"></button>
            <button class="timer-btn" id="timer-reset"><input value="リセット"></button>
            <style>
                #timer-stop {
                    display : none ;
                }
                #timer-restart {
                    display : none ;
                }
                #timer-split {
                    display : none ;
                }
                #timer-reset {
                    display : none ;
                }
            </style>
    
        </div>

    </body>
</html>