<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ManagerAssistant OnlineTimer</title>
    <script src="/send_url.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="javascripts/timer.js" defer></script>
    <script src="javascripts/common.js" defer></script>
    <meta name="viewport" content="width=device-width,initial-scal=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/timer.css">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>

</head>

<body>
    <header>
        <a href="/" class="logo">仮ロゴ</a>
        <div class="setting sp-none"><i class="fas fa-cog fa-2x"></i></div>
        <div class="mypage sp-none"></div>
        <div class="menu pc-none"><span></span></div>
    </header>


    <div class="timer-wrap">
        <div id="timer">
            <div id="timer-title">
                <div>タイム計測</div>
            </div>

            <div id="timer-body">
                <span class="hours">0</span>
                <span>:</span>
                <span class="minutes">00</span>
                <span>:</span>
                <span class="seconds">00</span>
                <span>.</span>
                <span class="milliseconds">00</span>
            </div>

            <div id="timer-btn-wrap">
                <button class="timer-btn" id="timer-start">スタート</button>
                <button class="timer-btn" id="timer-stop">ストップ</button>
                <button class="timer-btn" id="timer-split">スプリット</button>
                <button class="timer-btn" id="timer-restart">リスタート</button>
                <button class="timer-btn" id="timer-reset">リセット</button>
            </div>
            <style>
                #timer-stop {
                    display: none;
                }

                #timer-restart {
                    display: none;
                }

                #timer-split {
                    display: none;
                }

                #timer-reset {
                    display: none;
                }
            </style>
        </div>

        <div class="UserName-wrap">
            <div>ユーザーネーム</div>
            <input id="UserName-box" type="text">
        </div>

    </div>

    <div class="video_timer-log_DB-log_wrap">
        <div id="video-wrap">
            <div>ビデオ認識</div>
            <div id="video-radio">
                <label>
                    <input type="radio" name="use-video" value="start" id="video-start">
                    スタート
                </label>
                <label>
                    <input type="radio" name="use-video" value="goal" id="video-goal">
                    ゴール
                </label>
            </div>
            <div id="video">映像部分</div>
            <div id="video-btn">
                <select id="video-options">
                    <option value="">カメラ選択</option>
                </select>
                <button id="start_webcam">カメラ起動</button>
                <button id="stop_webcam">カメラ停止</button>
                <button id="start_predict">検出開始</button>
                <button id="stop_predict">検出停止</button>    
            </div>
        </div>

        <div id="DB-log"></div>
        <div id="timer-log"></div>
    </div>

    <div class="sp-header">
        <ul class="sp-header-nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/timer">タイム計測</a></li>
            <li><a href="">練習メニュー管理（準備中）</a></li>
            <li><a href="">タイムライン（準備中）</a></li>
            <li><a href="">マイページ（準備中）</a></li>
        </ul>
        <div class="setting-spnav"><i class="fas fa-cog fa-2x"></i></div>
        <div class="mypage-spnav"></div>
    </div>


</body>

</html>